<!DOCTYPE html>
<html>
<head>
  {{$topic := .topic}}
  {{$versionNum := .versionNum}}  
  <title>{{.title}}</title>

 <link rel="stylesheet" type="text/css" id="stylesheet"
       href="/styles/default.css" />
    <meta charset="utf-8" />
	
	<script type='text/javascript'>
	// <![CDATA[

	function selectVersion(versionNum) {
		var frm = document.getElementById("versionSelect")
		frm.v.value = versionNum
		frm.submit()
	}

	// ]]>		
	</script>

</head>
<body>

<table id="top">
  <tr>    
    <td id="cont">
       <div id="content">
        {{with .content}}{{htm .}}{{end}}
       </div>
       {{if neq $versionNum -1}}
       <div id="revertControl">
          <form action="/revertAction" method="post">
		  <input type="hidden" name="topic" value="{{urlPath $topic}}" />	
		  <input type="hidden" name="v" value="{{$versionNum}}" />	
          <input type="submit" value="revert to this version" title="Copies this version to be new current version" />
          </form>
       </div>
       {{end}}
     </td>
     <td id="versionList">
       <div id="versionList">
          <select onChange="selectVersion(this.options[this.selectedIndex].value)">

	          <option value="-1">Current Version</option>


	          {{range $i,$snapshot := .versions}}
              {{if eq $versionNum $i}}    
                  <option value="{{$i}}" selected="selected">{{$snapshot.time}}</option> 
              {{else}}
  	             <option value="{{$i}}">{{$snapshot.time}}</option>
              {{end}}
	          {{end}}
          </select>
          <form id="versionSelect" action="/versions" method="post">
		      <input type="hidden" name="topic" value="{{urlPath $topic}}" />
		      <input type="hidden" name="v" />	
		      </form>
       </div>
       <div>
          <form action="{{urlPath $topic}}" method="get">	
          <input type="submit" value=" &lt; close versions viewer " title="Return to main view of topic" />
          </form>
       </div>
     </td>
   </tr>
</table>
</body>
</html>